doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
.login-container
  h2 Login
  form#login-form(action='/loginform' method='POST')
    .form-group
      label(for='username') Username:
      input#username(type='text' name='username')
    .form-group
      label(for='password') Password:
      input#password(type='password' name='password')
    button(type='submit' onclick='login(event)') Login
  p#error-message.error-message
// <script src="script.js"></script>
